{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{header | capfirst}}</h2>

{% if bids %}
    <table class="table table-striped">
        {% for bid in bids %}
        <tr>
            <td><a href="{% url 'read' bid.listing.id bid.listing.name %}">
                Item #{{bid.listing.id}}: {{bid.listing.name}}</a></td>
            <td>${{bid.bid_price}}</td>
            <td>{{bid.bid_time}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <em>There are no bids to show</em>
{% endif %}
{% endblock %}
