{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}"/>
    <link rel="shortcut icon" href="{% static 'auctions/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Bootstrap bundle, for alerts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <h1 class="inline">DMF Auctions
    <button id="about" type="button" class="btn btn btn-info mb-2" data-toggle="modal" data-target="#about-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle "
        viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        <span class="align-text-top font-weight-bold">About this site</span>
    </button>
    </h1>

    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-wrap mr-auto" id="navbar-list">

            <ul class="navbar-nav container-fluid">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for c in categories %}
                        <a class="dropdown-item" href="{% url 'category' c.0 %}">{{c.1}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item navbar-text">
                        Welcome, <strong>{{user.username | capfirst}}</strong>!
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
                <hr>
                <ul class="navbar-nav container-fluid">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bids' %}">My Bids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'comments' %}">My Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listings' %}">My Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">My Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'winnings' %}">My Winnings</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <div class="modal fade" name="about-modal" id="about-modal" tabindex="-1" aria-labelledby="about-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="about-label">About this site</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hi, I'm Dave!</p>
                    <p>
                        DMF Commerce is an auction site, like eBay, for users to list items for sale and bid, bookmark, and comment on listings.
                        I built this site while working through <a href="https://cs50.harvard.edu/web/2020/">Harvard's CS50 Web</a> course, project <a href="https://cs50.harvard.edu/web/2020/projects/2/commerce/">Commerce</a>.
                    <p>
                        Browse and bid on a listing!<br>
                        You can register an account, or log in with the username "guest" and the password. The password is my full name, as it appears in my github links.<br>
                        This site is a demo - no financial transations will occur.<br>
                    </p>
                    <p>
                        DMF Commerce is built with Django, using Django templates styled with Bootstrap.<br>
                        This site is responsive and is best viewed with any modern browser on any size device.<br>
                        Users, Bids, Comments, and Watchlists are stored with SQLite and queried with the Django ORM.<br>
                        Images in auction listings are hotlinked via URL.<br>
                        Bid validation is written in Python.<br>
                    </p>
                    <p>
                        DMF Commerce is deployed on an AWS EC2 instance, with uWSGI as the application server.<br>
                        Nginx is configured as a reverse proxy, serves static files for this and other sites on the instance, and logs all traffic.<br>
                        Namecheap is the domain registrar, and LetsEncrypt provides the TLS certificate.<br>
                    </p>
                    <p>
                        This site's code is viewable on my github: <a href="https://github.com/davefriedman/cs50web">https://github.com/davefriedman/cs50web</a>.<br>
                        Say hello! <a href="https://davefriedman.github.io/contact">https://davefriedman.github.io/contact</a>.
                    </p>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert mt-2 mb-0 {{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
</body>

</html>
