{% extends "auctions/layout.html" %}

{% block body %}

    <div>
        <h2>Auction #{{listing.id}}: {{listing.name}}</h2>
        <ul>
            <li>ID: {{listing.id}}</li>
            <li>Name: {{listing.name}}</li>
            <li>category: {{listing.category}}</li>
            <li>description: {{listing.description}}</li>
            <hr>
            <li>image: <img src={{listing.image_url}} height="300"></li>
            <hr>
            <li>Listed by: {{listing.lister}}</li>
        </ul>
    </div>

    <div>
    <h3>Most recent bids</h3>
    <ul>
        {% for bid in bids %}
        <li>${{bid.bid_price}}, on {{bid.bid_time}}</li>
        {% endfor %}
    </ul>
    </div>

    <div>
        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
            <li>{{comment.commentor}}, at {{comment.commented}}:<br>
                {{comment.comment}}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}