{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction #{{listing.id}}: ({{listing.quantity}}) {{listing.name}}</h2>

    <ul>
        <li>ID: {{listing.id}}</li>
        <li>Name: {{listing.name}}</li>
        <li>Quantity: {{listing.quantity}}</li>
        <li>Is-Returnable: {{listing.is_returnable}}</li>
        <li>category: {{listing.category}}</li>
        <li>description: {{listing.description}}</li>
        <hr>        
        <li>list price: {{listing.list_price}}</li>
        <li>buynow price: {{listing.buynow_price}}</li>
        <li>shipping: {{listing.ship_price}}</li>
        <hr>        
        <li>Auction started: {{listing.listing_start}}</li>
        <li>Auction ends: {{listing.listing_timeout}}</li>
        <hr>
        <li>Listed by: {{listing.lister}}</li>
    </ul>

    <a href= "{% url 'index' %}">Active Listings</a>
{% endblock %}