{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block body %}

<div>
    <h2>Auction #{{listing.id}}: {{listing.name}}
        {% if user.is_authenticated and not owner %}
            {% if watched %}
            <a href="{% url 'watch' listing.id listing.name %}"><i class="bi bi-heart-fill"></i></a>
            {% else %}
            <a href="{% url 'watch' listing.id listing.name %}"><i class="bi bi-heart"></i></a>
            {% endif %}
        {% endif %}
    </h2>
    {% if owner and listing.is_active %}
    <a class="btn btn-warning" style="width:50%" href="{% url 'close' listing.id listing.name %}">Close Listing</a>
    {% endif %}
</div>

<div>
    <ul>
        <li>Category: {{listing.category}}</li>
        {% if listing.image_url %}
        <hr>
        <li><img src={{listing.image_url}} height="300"></li>
        <hr>
        {% endif %}
        <li>Description: {{listing.description}}</li>
        <li>Listed by: {{listing.lister}}</li>
        {% if not listing.is_active %}
        <li><strong>Winner: {{listing.winner}}</strong></li>
        {% endif %}
    </ul>
</div>

<h3>Most recent bids</h3>
<ul>
    {% for bid in bids %}
    <li>${{bid.bid_price}}, on {{bid.bid_time}}</li>
    {% endfor %}
</ul>
<div class="bid_form">
    <form action="{% url 'bid' listing.id listing.name %}" method="POST">
        {% csrf_token %}
        {{bidform | crispy}}
        <input type="submit" value="Post bid" class="btn btn-success btn-lg"
        {% if not listing.is_active %} disabled {% endif %}>
    </form>
</div>

<div class="comments">
<h3>Comments</h3>
    <ul>
        {% for comment in comments %}
        <li class="comment">
            <p class="comment-meta">{{comment.commenter}}, at {{comment.commented}}:</p><br>
            <p class="comment-text">{{comment.comment}}</p></li>
        {% endfor %}
    </ul>
</div>
<div class="comment_form">
    <form action="{% url 'comment' listing.id listing.name %}" method="POST">
        {% csrf_token %}
        {{commentform | crispy}}
        <input type="submit" value="Post comment" class="btn btn-success btn-lg"
        {% if not listing.is_active %} disabled {% endif %}>
    </form>
</div>

{% endblock %}