body {
  background-color: #eee;
}

.likes {
  /* font-size: 22px; */
  /* color: #0275d8; */
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.post-author-profile-pic {
  object-fit: cover;
  height: 45px;
  width: 45px;
}

.profile-page-profile-pic {
  object-fit: cover;
  height: 256px;
  width: 256px;
}
/*
.is_follower:hover span {
  display: none;
}
.is_follower:hover:before {
  content: "Unfollow";
} */