{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title | safe|capfirst}}
{% endblock %}


{% block nav %}
    <hr>

    <div>
        <a role="button" class="btn btn-warning btn-sm btn-block"
           href= "{% url 'update' title %}">Update this entry</a>
    </div>
    <div>
        <a role="button" class="btn btn-danger btn-sm btn-block"
           onclick="return confirm('Are you sure you want to delete this entry?');"
           href= "{% url 'delete' title %}">Delete this entry</a>
    </div>
{% endblock %}

{% block body %}
    <h1>{{title | safe|capfirst}}</h1>

    <p>{{body | safe}}</p>
{% endblock %}