{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8 p-2">
            <h2>Hi <strong>{{user.username | capfirst}}</strong></h2>
            <div class="text-black-50 mb-2">Change your password here.</div>
            <form action="{% url 'password' %}" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <input type="submit" value="Save" class="btn btn-success">
            </form>

{% endblock %}