{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8 p-2">
            <div class="bg-white border mt-2">
                <div class="align-items-center p-3">
                    <form action="{% url 'create_post' %}" method="POST">
                        <h2>Edit your post</h2>
                        {% csrf_token %}
                        {{form | crispy}}
                        <input type="submit" value="Post" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}