{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8 p-2">
            <h2>Register</h2>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <input type="submit" value="Save" class="btn btn-success">
            </form>

            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>
</div>

{% endblock %}