body {
  padding: 20px;
  /* background-color: #dadedf !important; */
}

.navbar-auth {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav {
  width: 80%;
  border-bottom: 1px solid #dee2e6;
}
.nav-item {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
/* .nav-link {
  transition: all 0.3s;
} */
.nav-link:hover,
.nav-link:focus {
  text-decoration: underline !important;
  /* transform: scale(1.05); */
}

.card {
  box-shadow: 2px 2px 10px #6c757d;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px #007bff;
}

.comment {
  font-size: 1.25rem;
}
.commented {
  font-style: italic;
  color: #6c757d;
}

table td {
  padding: 0.75rem;
  vertical-align: middle;
}
