body {
  padding: 20px;
  /* background-color: #dadedf !important; */
}

.navbar-auth {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav {
  /* width: 100%; */
  /* border-bottom: 1px solid #dee2e6 !important; */
}
.nav-item {
  width: 20%;
  font-size: 1.1rem;
  font-weight: 500;
}
@media only screen and (max-width: 767.98px) {
  .nav-item {
    display: block;
    width: 100%;
  }
}
.nav-link {
  color: #007bff !important;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: underline !important;
}

.card {
  box-shadow: 2px 2px 10px #6c757d;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px #007bff;
}

.comment {
  font-size: 1.25rem;
}
.commented {
  font-style: italic;
  color: #6c757d;
}

table td {
  padding: 0.75rem;
  vertical-align: middle;
}

.listing,
.bidding,
.commenting {
  float: left;
  margin: 20px 20px 10px 0;
  padding: 20px;
  box-shadow: 2px 2px 10px #6c757d;
}
.bidding table td,
.commenting table td {
  padding: 0.25rem;
}
p {
  word-wrap: break-word;
}
