/* color palette: https://www.schemecolor.com/dark-wood-gradient.php */
/* lighter options https://www.schemecolor.com/light-wood-gradient.php */

body {
    margin: 0;
    /* dark: 6 */
    background-color: #453B3B;
    /* dark: 5 */
    /* background-color: #564540;  */
    color: white;
    padding-inline-start: 0;
}

code {
    white-space: pre;
}

h1 {
    margin: 0 0 20px 0px;
    padding-top: 5px;
}

p {
    width: 85%;
}

.btn {
    margin-top: 5px;
    width: 75%;
}

.btn-secondary {
    /* dark: 1 */
    background-color: #705548;
    /* dark: 2 */
    border-color: #675045;
    font-weight: 500;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.active {
    /* dark: 3 */
    background-color: #5F4B43;
    border-color: #5F4B43;
}

#button-search {
    margin-top: 0;
    width: auto;
    background-color: #fff;
    border: 1px #ced4da;
    border-style: solid solid solid none;
}
#button-search:hover,
#button-search:active,
#button-search:focus
 {
    background-color: #ccc;
    border-color: 1px  #ccc;
    box-shadow: none;
}

.entry_form {
    width: 85%;
}

.main {
    padding: 20px;
}

.messages {
    width: 85%;
}

.row {
    margin: 0;
}

.search {
    width: 80%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    /* dark: 4 */
    /* background-color: #564540;  */
    /* dark: 5 */
    background-color: #4E403E;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

.modal-content {
    background-color: #705548;
}

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    p {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .entry_form {
        width: 100%;
    }
    .messages {
        width: 100%;
    }
    .sidebar {
        height: auto;
    }
 }